.carousel-item{  
      
    width: 100%;
    height: 75vh;
}

.modulo-title{
    position:relative;
    margin: 20px 15% 0 15%;    
    padding-top:20px;
    padding-bottom:20px;
    
    text-align:center    
}

.h-modulo{
    height: 75%;
}

.img-conf{
    background-size: contain ;
    background-position: top;
    background-repeat: no-repeat;

    min-width: 300px;
}

.carousel-indicator{
    background: #888 !important;  
    bottom: 30px;  
}

.carousel-indicators .active{
    background-color: #007bff !important;
}

.essencial-img{background-image: url("../images/courses/essencial1.png")}
.srm-img{background-image: url("../images/courses/SRM.png")}
.patrimonio-img{background-image: url("../images/courses/gestão_de_patrimonio1.png")}
.escolar-img{background-image: url("../images/courses/escolar1.png")}
.financeiro-img{background-image: url("../images/courses/gestao_financeira.png")}
.produtos-img{background-image: url("../images/courses/produtos_e_\ serviços1.png")}
.projeto-img{background-image: url("../images/courses/planejamento_e_projeto1.png")}
.ecm-img{background-image: url("../images/courses/ECM1.png")}
.crm-img{background-image: url("../images/courses/CRM1.png")}
.rh-img{background-image: url("../images/courses/recursos_humanos.jpg")}
.web-img{background-image: url("../images/courses/websites.jpg")}


